


@import url("../../.cache/wal/colors-waybar.css");
@define-color accent @color5;
@define-color bg0_h           #1d2021;
@define-color bg0             #282828;
@define-color bg1             #3c3836;
@define-color bg2             #504945;
@define-color bg3             #665c54;
@define-color bg4             #7c6f64;
@define-color gray            #928374;
@define-color fg4             #a89984;
@define-color fg3             #bdae93;
@define-color fg2             #d5c4a1;
@define-color fg1             #ebdbb2;
@define-color fg0             #fbf1c7;
@define-color red             #cc241d;
@define-color bright_red      #fb4934;
@define-color green           #98971a;
@define-color bright_green    #b8bb26;
@define-color yellow          #d79921;
@define-color bright_yellow   #fabd2f;
@define-color blue            #458588;
@define-color bright_blue     #83a598;
@define-color purple          #b16286;
@define-color bright_purple   #d3869b;
@define-color aqua            #689d6a;
@define-color bright_aqua     #8ec07c;
@define-color orange          #d65d0e;
@define-color bright_orange   #fe8019;

@define-color white           #ffffff;
@define-color black           #000000;

/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */

@define-color shadow          shade(@bg0_h, 0.3);
@define-color main-fg         @fg0;
@define-color main-bg         alpha(@black, 0);
@define-color main-br         @fg0;

@define-color active-bg      @color4;
@define-color active-fg       @bg0_h;

@define-color hover-bg        @color0;
@define-color hover-fg        alpha(@fg0, 1);

/* Module Colors */

@define-color module-fg       @fg0;
@define-color workspaces      alpha(@color0,0.8);

@define-color temperature    alpha(@color0,0.8);
@define-color memory          alpha(@bg0, 0.9);
@define-color cpu             alpha(@bg1, 0.9);
@define-color distro-fg       @white;
@define-color distro-bg       @color4;
@define-color time            alpha(@bg1, 0.9);
@define-color date            alpha(@bg0, 0.9);
@define-color tray            alpha(@color0,0.8);

@define-color pulseaudio      alpha(@black, 0.8);
@define-color backlight       alpha(@bg0, 0.9);
@define-color battery          alpha(@bg1, 0.8);
@define-color power           @color4;

/* State Colors */

@define-color warning         #fe8019; /* Updated to use existing bright_orange variable */
@define-color critical        #fb4934; /* Updated to use existing bright_red variable */
@define-color charging        @fg0;


